# AWS S3
AWS_URL=https://my-mystyuri-bucket.s3.eu-north-1.amazonaws.com
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_REGION=eu-north-1
AWS_BUCKET_NAME=my-mystyuri-bucket
AWS_BUCKET_PREFIX=pet-media-manager

# JWT
JWT_SECRET
JWT_EXPIRES_IN=24h

# Server
SERVER_HOST=77.243.81.40
SERVER_PROTOCOL=http
PORT=4000

HTTPS_LETSENCRYPT_PATH=/etc/letsencrypt/live/

# Front
PORT_FRONT=3000

# BD
MONGODB_DATABASE=pet-media-manager
MONGODB_ROOT_USER=admin_bd
MONGODB_ROOT_PASSWORD
MONGODB_PORT=27017
